
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .nav-item {
    @apply text-sm font-medium text-darkBlue hover:text-blue/60 transition-all ease-in-out duration-300;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-size: 16px;
  overflow-x: hidden !important;
}


